h1{
  color: rgb(91, 238, 23);
  text-align: center;
}
 
.imagem {
  border: 0px; deshed   white;
  margin-left: 33%;
  padding: 40px;
}
nav {
   font-size: 30px;
}

nav li {
display: inline;
margin: 0 0 0 30px;
}

footer{

  background-color: green;
color: white;
text-align: center;
padding-top: 50px;
padding-bottom: 50px;

}



















