h1{
  color: rgb(91, 238, 23);
  text-align: center;
}
 
.imagem {
  border: 0px; deshed   white;
  margin: 0px;
  padding: 40px;
}
nav {
   font-size: 30px;
}

nav li {
display: inline;
margin: 0 0 0 30px;
}













