


body{

  background: linear-gradient(to bottom, rgb(21, 198, 223), rgb(7, 236, 217));
    
}

 h1 {

   color:#000000
    text-align:  center;


#imagem1 {
  border: 10px; deshed   white;
  margin: 20px;
  padding: 30px;
  


}










